.App {
  text-align: center;
}

.button {
  padding: 1em 2em 1em 2em;
  border-radius: 10%;
  border-width: 0 0 4px;
  background-color: #ffcb05;
  color: #2a75bb;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 4em;
  margin-right: 0.8em;
  text-align: center;
  text-transform: uppercase;
  transition: filter .2s;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.title {
  font-family: din-round,sans-serif;
  color: #ffcb05;
  text-shadow: 2px 2px 2px #2a75bb;
}


.headerDiv {
    text-align: center;
  }
  
  .link {
    margin-right: 1em;
    font-weight: 700;
    font-family: din-round,sans-serif;
    color: #ffcb05;
  }
  
  .link:hover:not(:disabled) {
    filter: brightness(1.1);
  }