.cardImg {
  height: 100px;
  width: 100px;
}

.card-main {
  border: solid;
  height: 170px;
  width: 250px;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 #ffcb05;
  transition: 0.3s; 
  background-color: aliceblue;
  font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
  font-weight: 400;
}

.card-main:hover {
  box-shadow: 0 8px 16px 0 #ffcb05;
};


.card-status {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.card-types {
  display: flex;
  justify-content: center;
  
}

.type {
    margin: 10px 8px 5px 8px;
    padding: 5px 8px 5px 8px;
    display: inline-block;
    border-radius: 6px;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 13px;
    font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
    color: #FFF;
    background-color: #68A090;
    border: 1px solid #44685E;
  };