.headerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  margin-right: 1em;
  font-weight: 700;
  font-family: din-round,sans-serif;
  color: #ffcb05;
}

.link:hover:not(:disabled) {
  filter: brightness(1.1);
}